@use './variables' as *;

main {
    h2{
        display: flex;
        justify-content: center;
        padding: 30px 0 80px 0;
       
    }

    .aboutMeContainer {
        display: flex;
        gap: 20px;

        .pfPic {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .socialIcons {
                display: flex;
                justify-content: center;
                gap: 20px;
            }

            button {
                border-radius: 50%;
                background-color: #eff0f4;
            }

            button:after{
                border-radius: 50%;
                
            }

            .fa {
                padding: 10px;
                font-size: 1.4rem;
                border-radius: 50%;
                color: #3d535f;
            }
        }

        figure {
            img {
                padding: 20px;
            }
        }

        .aboutMeText {
            display: flex;
            flex-direction: column;
            padding: 30px 20px 0 20px;
            gap: 10px;
            line-height: 24px;
        }
    }

    .skills{
        padding: 50px 0;

        h2 {
            padding-bottom: 30px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;

            li {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 200px;
                padding-top: 2%;
                gap: 10px;
            }

            i {
                padding: 20px;
                border-radius: 50%;
            }
            
            .fa {
                font-size: 2rem;
            }
        }
    }


    .projects {
        ul {
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: center;
            
            li {
                width: 50%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                
            }

            img {
                max-height: 400px;
                transition: all 0.3s ease;
                cursor: pointer;
            }

            img:hover {
                transform: translateY(-10px)
            }
        }
    }

    .contactMe {
        h2 {
            padding: 80px 0 40px 0;
        }

        p{
            width: 50%;
          
        }

        form{
            display:flex;
            flex-direction: column;
            gap:5px;
            align-items: center;
            
            textarea {
                width: 50%;
                padding: 5px 10px;
                border: none;
            }

            .visitorInfo {
                display: flex;
                gap: 20px;
                width: 50%;
            }

            input {
                border: none;
                padding: 10px 10px;
                width: 100%;
            }

            button{
                background-color: #eff0f4;
                width: 10%;
                padding: 10px 0;
                margin-top: 10px;
            }

            a{
                color: $primaryGrey;
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-top: 30px;
    }

}
