@use './variables' as *;

main {
    h2{
        display: flex;
        justify-content: center;
        padding: 70px 0 40px 0;
       
    }

    .aboutMeContainer {
        display: flex;
        gap: 20px;

        .pfPic {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .socialIcons {
                display: flex;
                justify-content: center;
                gap: 20px;
            }

            button {
                border-radius: 50%;
                background-color: $primaryWhite;
            }

            button:after{
                border-radius: 50%;
                
            }

            .fa-brands:hover {
                color: $primaryPink;
            }

            .fa-brands {
                padding: 10px;
                font-size: 1.5rem;
                border-radius: 50%;
                color: $primaryGrey;
            }
        }

        figure {
            img {
                padding: 8%;
            }
        }

        .aboutMeText {
            display: flex;
            flex-direction: column;
            padding: 15px 40px 0 ;
            gap: 20px;
            line-height: 24px;

            h3 {
                font-size: 2.2rem;
                padding-bottom: 30px;
                line-height: 2.2rem;
            }

            p {
                padding-bottom: 20px;
            }
        }
    }

    .skills{

        h2 {
            padding: 50px 0 10px 0;
            font-size: 1.2rem;
            justify-content: center;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 10%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 2%;
                gap: 10px;
                font-size: 0.7rem;
            }

            i {
                padding: 15px;
                border-radius: 50%;
                font-size: 2rem;
            }

            img {
                height: 70px;
                width: 70px;
                padding: 15px;
                border-radius: 50%;
            }
            
        }
    }


    .projects {
        margin: 100px 0 50px 0;
    
        ul {
            display: flex;
            // flex-direction: column;
            gap: 30px;
            align-items: center;
            
            li {
                width: 65%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                border-radius: 5px;
                position: relative;

                img{
                    z-index: 500;
                   
                }
                
                p{
                    position: absolute;
                    left: 7%;
                    bottom: 23%;
                    font-size: 0.7rem;
                    color: $primaryPink;
                    font-weight: 700;
                }
                
            }

            .container {
                width: 100%;
            }

            img {
                max-height: 400px;
                transition: all 0.3s ease;
                cursor: pointer;
            }

            img:hover {
                transform: translateY(-45px)
            }

            
        }

        .modal {
            flex-direction: column;
        }

        .modal-container {
            width: 65%;
            height: 80%;
            overflow:scroll;
            margin-bottom: 30px;

            img{
                min-width: 500px;
            }
        }

        .modal-container-one {
            overflow: auto;
            height: 25%;
            margin-top: 20px;
        }

        .live-links {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding-top: 20px;

        }

        .fa-brands {
            color: $primaryPink;
        }

        a {
            padding: 5px 10px;
            border-radius: 25px;
        }

        a:after {
            border-radius: 25px;
        }

        a:hover {
            color: $primaryPink;
        }

        i {
            font-size: 0.8rem;

        }

        .hidden {
            opacity: 0;
            filter: blur(5px);
            transform: translateX(-70%);
            transition: all 1s;
        }
        
        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0)
        }

        .pject:nth-child(2) {
            transition-delay: 200ms;
        }
        .pject:nth-child(3) {
            transition-delay: 350ms;
        }
        .pject:nth-child(4) {
            transition-delay: 500ms;
        }
       
    }

    .contactMe {
        margin-bottom: 100px;

        h2 {
            padding: 100px 0 40px 0;
        }

        p{
            width: 50%;
        }

        .socialIcons {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-bottom: 30px;
        }

        button {
            border-radius: 50%;
            background-color: $primaryWhite;
        }

        button:after{
            border-radius: 50%;
            
        }

        .fa-brands {
            padding: 10px;
            font-size: 1.5rem;
            border-radius: 50%;
            color: $primaryGrey;
        }

        .fa-brands:hover {
            color:$primaryPink;
        }

        form{
            display:flex;
            flex-direction: column;
            gap:20px;
            align-items: center;

            .formText {
                display: flex;
                gap: 20px;
            }

            .visitorInfo {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 50%;
                
            }

            input {
                border: none;
                padding: 10px 20px;
                width: 100%;
                border-radius: 25px;
                background-color: $primaryWhite;
            }

            textarea {
                width: 50%;
                padding: 10px 20px;
                border: none;
                border-radius: 25px;
                height: 170px;
                background-color: $primaryWhite;
            }

            button{
                background-color: $primaryWhite;
                width: 10%;
                padding: 10px 0;
                margin-top: 20px;
                border-radius: 25px;
                font-size: 0.8rem;
            }

            button:after{
                border-radius: 25px;
            }

            a{
                color: $primaryGrey;
            }

            button:hover{
                color: $primaryPink;
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-top: 30px;

        p {
            font-size: 0.6rem;
        }
    }

}
