@media (max-width: 1400px) {
    .heading{
        padding-top: 30% !important;
    }

    .aboutMe {

        .aboutMeText {
            align-items: center;
        }

        .aboutMeContainer {
            flex-direction: column;
            align-items: center;
        }

        .pfPic {
            align-items: center;
        }

        .imgContainer {
            width:40%;
        }
    }
}

@media (max-width: 1215px) {
    .projects {
        ul {
            gap: 50px;
            flex-direction: column;

            li {
                width: 75% !important;

                p {
                    bottom: 19.5% !important;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .nav-bar {
        display: none;
    }

    .hamburger-btn{
        display: flex !important;
    }

    .pfPic {
        .imgContainer{
            width: 65%;
        }
    }

    .skills {
        li {
            width: 20% !important;
        }
    }
}

@media (max-width: 900px) {
    .formText {
        flex-direction: column;
        align-items: center;

        .visitorInfo,
        textarea {
            width: 80% !important;
        }
    }
}

@media (max-width: 800px) {
    .heading {
        padding-top: 50% !important;
    }
}

@media (max-width: 700px) {
    .projects {
        .view-more {
            display:none;
        }
    }

}

@media (max-width: 600px) {
    .skills {
        li {
            width: 50% !important;
        }
    }

    .contactMe {
        .send-btn {
            width: 20%;
        }
    }
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}