html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  background-color: #FFF;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

textarea {
  resize: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, a, li, button, input, textarea {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: #3d535f;
}

.pink {
  color: #e96269;
}

.outer-shadow {
  -webkit-box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
          box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

.inner-shadow {
  -webkit-box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
          box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  -webkit-box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
          box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}

.hover-in-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover-in-shadow:hover:after {
  -webkit-box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
          box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

header {
  height: 100vh;
}
header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  color: #3d535f;
  position: fixed;
  background-color: #FFF;
  z-index: 600;
  max-width: 1450px;
  margin-left: -10px;
  padding-bottom: 10px;
}
header .hamburger-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
header .hamburger-btn span {
  display: block;
  height: 2px;
  width: 16px;
  background-color: #3d535f;
  position: relative;
}
header .hamburger-btn:after {
  border-radius: 50%;
}
header .hamburger-btn span:before,
header .hamburger-btn span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3d535f;
}
header .hamburger-btn span:before {
  top: -6px;
}
header .hamburger-btn span:after {
  top: 6px;
}
header .hamburger-btn:hover span:before,
header .hamburger-btn:hover span:after,
header .hamburger-btn:hover span {
  background-color: #e96269;
}
header .hamburger-btn {
  display: none;
}
header .nav-menu {
  position: fixed;
  background-color: #FFF;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
}
header .fade-out-effect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #FFF;
}
header .fade-out-effect.active {
  visibility: visible;
  z-index: 1001;
  -webkit-animation: fadeOut 0.4s ease-out;
          animation: fadeOut 0.4s ease-out;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header .nav-menu.open {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
header .nav-menu .close-nav-menu {
  height: 40px;
  width: 40px;
  display: block;
  font-size: 1.5rem;
  line-height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 15px;
  cursor: pointer;
  text-align: center;
}
header .close-nav-menu:hover {
  color: #e96269;
}
header .nav-menu .close-nav-menu:after {
  border-radius: 50%;
}
header .nav-menu-inner {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .nav-menu ul {
  padding: 20px;
}
header .nav-menu ul li {
  display: block;
  margin-bottom: 20px;
}
header .nav-menu ul li a {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 30px;
  border-radius: 30px;
  color: #3d535f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .nav-menu ul li a:after {
  border-radius: 30px;
}
header .nav-menu ul li a:hover {
  color: #e96269;
}
header .nav-menu ul li:last-child {
  margin-bottom: 0;
}
header .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
header .nav-bar a:hover {
  color: #e96269;
}
header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25% 0 0 0%;
  overflow: hidden;
}
header .cols {
  width: 100%;
}
header .line {
  display: block;
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 5px;
  color: #3d535f;
}
header .line::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 30px;
  bottom: 5px;
  background-color: #3d535f;
}
header h1 {
  display: block;
  font-size: 5rem;
  font-weight: 900;
  color: #3d535f;
  width: 100%;
}
header .btns {
  width: 100%;
  position: relative;
  left: 10%;
}
header .btns button {
  color: #3d535f;
  background-color: #FFF;
  padding: 8px 15px;
  margin: 10px 5px;
  letter-spacing: 5px;
  border-radius: 20px;
}
header .btns button:after {
  border-radius: 20px;
}
header .btns button:hover {
  opacity: 0.9;
  color: #e96269;
}
header .fa-angle-double-down {
  position: absolute;
  bottom: 3%;
  right: 50%;
  font-size: 2rem;
  -webkit-animation: floating 2s ease infinite;
          animation: floating 2s ease infinite;
  color: #3d535f;
}
header .fa-angle-double-down:hover {
  color: #e96269;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

main h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0 40px 0;
}
main .aboutMeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
main .aboutMeContainer .pfPic {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
main .aboutMeContainer .pfPic .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
main .aboutMeContainer .pfPic button {
  border-radius: 50%;
  background-color: #FFF;
}
main .aboutMeContainer .pfPic button:after {
  border-radius: 50%;
}
main .aboutMeContainer .pfPic .fa-brands:hover {
  color: #e96269;
}
main .aboutMeContainer .pfPic .fa-brands {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  color: #3d535f;
}
main .aboutMeContainer figure img {
  padding: 8%;
}
main .aboutMeContainer .aboutMeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 40px 0;
  gap: 20px;
  line-height: 24px;
}
main .aboutMeContainer .aboutMeText h3 {
  font-size: 2.2rem;
  padding-bottom: 30px;
  line-height: 2.2rem;
}
main .aboutMeContainer .aboutMeText p {
  padding-bottom: 20px;
}
main .skills h2 {
  padding: 120px 0 10px 0;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .skills ul li {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
  gap: 10px;
  font-size: 0.7rem;
}
main .skills ul i {
  padding: 15px;
  border-radius: 50%;
  font-size: 2rem;
}
main .skills ul img {
  height: 70px;
  width: 70px;
  padding: 15px;
  border-radius: 50%;
}
main .projects {
  margin: 100px 0 80px 0;
}
main .projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  align-items: center;
}
main .projects ul li {
  width: 45%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  position: relative;
}
main .projects ul li img {
  z-index: 500;
}
main .projects ul li p {
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
}
main .projects ul .container {
  width: 100%;
  padding-top: 0;
}
main .projects ul img {
  max-height: 400px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}
main .projects ul img:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}
main .projects .modal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .projects .modal-container {
  width: 65%;
  height: 80%;
  overflow: scroll;
  margin-bottom: 30px;
}
main .projects .modal-container img {
  min-width: 500px;
}
main .projects .modal-container-one {
  overflow: auto;
  height: 25%;
  margin-top: 20px;
}
main .projects .live-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
main .projects .fa-brands {
  color: #e96269;
}
main .projects a {
  padding: 5px 10px;
  border-radius: 25px;
}
main .projects a:after {
  border-radius: 25px;
}
main .projects a:hover {
  color: #e96269;
}
main .projects i {
  font-size: 0.8rem;
}
main .projects .hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-transition: all 1s;
  transition: all 1s;
}
main .projects .show {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
main .projects .pject:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
main .projects .pject:nth-child(3) {
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
}
main .projects .pject:nth-child(4) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
main .contactMe {
  margin-bottom: 100px;
}
main .contactMe h2 {
  padding: 120px 0 50px 0;
}
main .contactMe p {
  width: 50%;
}
main .contactMe .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}
main .contactMe button {
  border-radius: 50%;
  background-color: #FFF;
}
main .contactMe button:after {
  border-radius: 50%;
}
main .contactMe .fa-brands {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  color: #3d535f;
}
main .contactMe .fa-brands:hover {
  color: #e96269;
}
main .contactMe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .contactMe form .formText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
main .contactMe form .visitorInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 50%;
}
main .contactMe form input {
  border: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 25px;
  background-color: #FFF;
}
main .contactMe form textarea {
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  height: 170px;
  background-color: #FFF;
}
main .contactMe form button {
  background-color: #FFF;
  width: 10%;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 25px;
  font-size: 0.8rem;
}
main .contactMe form button:after {
  border-radius: 25px;
}
main .contactMe form a {
  color: #3d535f;
}
main .contactMe form button:hover {
  color: #e96269;
}
main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-top: 30px;
}
main footer p {
  font-size: 0.6rem;
}

@media (max-width: 1400px) {
  .heading {
    padding-top: 30% !important;
  }
  .aboutMe .aboutMeText {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .aboutMeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .pfPic {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .imgContainer {
    width: 40%;
  }
}
@media (max-width: 1215px) {
  .projects ul {
    gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects ul li {
    width: 75% !important;
  }
  .projects ul li p {
    bottom: 19.5% !important;
  }
}
@media (max-width: 1000px) {
  .nav-bar {
    display: none;
  }
  .hamburger-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .pfPic .imgContainer {
    width: 65%;
  }
  .skills li {
    width: 20% !important;
  }
}
@media (max-width: 900px) {
  .formText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .formText .visitorInfo,
  .formText textarea {
    width: 80% !important;
  }
}
@media (max-width: 800px) {
  .heading {
    padding-top: 50% !important;
  }
}
@media (max-width: 700px) {
  .projects .view-more {
    display: none;
  }
}
@media (max-width: 600px) {
  .skills li {
    width: 50% !important;
  }
  .contactMe .send-btn {
    width: 20%;
  }
}
@media (prefers-reduced-motion) {
  .hidden {
    -webkit-transition: none;
    transition: none;
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding-top: 20px;
}
.container a {
  padding: 20px;
  background: #FFF;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  z-index: 1100;
}
.modal .modal-container {
  width: 70%;
  z-index: 1;
}
.modal .modal-container button {
  background-color: transparent;
  margin: 0;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 30px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}